[submodule "clones/kalibr"]
	path = clones/kalibr
	url = https://github.com/ethz-asl/kalibr.git
[submodule "clones/imu_utils"]
	path = clones/imu_utils
	url = https://github.com/gaowenliang/imu_utils.git

	
[submodule "clones/map-anything"]
	path = clones/map-anything
	url = https://github.com/facebookresearch/map-anything
[submodule "clones/Depth-Anything-3"]
	path = clones/Depth-Anything-3
	url = https://github.com/ByteDance-Seed/Depth-Anything-3.git
[submodule "clones/sam-3d-body"]
	path = clones/sam-3d-body
	url = https://github.com/facebookresearch/sam-3d-body.git
