# ignore data folder
data/

# ignore papers folder
papers/

# ignore logs folder
logs/

# ignore clones folder
clones/

# ignore dataset folder
dataset/

# ignore weights
weights/

# ignore experiments folder
exp/